<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Game</title>
    <link rel="stylesheet" href="../static/css/enter.css">
</head>
<body>
    <div class="container">
        <form class="form" action="/main" method="POST">
            <header>Login</header>
            <label for="username">Enter Username:</label>
            <input type="text" id="username" name="username" required>
            <button type="submit">Enter</button>
        </form>
    </div>
</body>
</html>
